In [18]:
import pandas as pd

In [19]:
# Load data into a pandas DataFrame
data2 = pd.read_csv('data2.csv', encoding='cp874')
data3 = pd.read_csv('data3.csv', encoding='cp874')

In [20]:
# Merge data2 and data3 on 'fund_code'
df = pd.merge(data2, data3, on='fund_code')

In [21]:
# Remove rows where 'amc_category' is null
df = df[df['amc_category'].notnull()]

In [22]:
# Create a new column with the maximum 'created_at' value for each account_id and fund_code
df['max_create_at'] = df.groupby(['account_id', 'fund_code'])['created_at'].transform('max')

In [23]:
# Select rows where 'created_at' equals 'max_create_at'
result = df[df['created_at'] == df['max_create_at']]

In [24]:
# Group the results by account_id, fund_code, and created_at to remove duplicates
result = result.groupby(['account_id', 'fund_code', 'created_at']).first().reset_index()

In [25]:
# Select only the desired columns
result = result.loc[:, ['account_id', 'fund_code', 'fund_name_th', 'fund_name_en', 'amc_category', 'amount', 'unitbalance', 'created_at']]

In [26]:
# Display the result
print(result)

  account_id         fund_code  \
0     ROBO01                GC
1     ROBO02                GC
2     ROBO02  PRINCIPAL VNEQ-A
3     ROBO02              PWIN
4     ROBO02          TLDIVRMF
5     ROBO02          TLMSEQ-A
6     ROBO02          TMBGPROP

                                        fund_name_th  \
0                         กองทุนเปิด เกรธเธอร์ ไชน่า
1                         กองทุนเปิด เกรธเธอร์ ไชน่า
2  กองทุนเปิดพรินซิเพิล เวียดนาม อิควิตี้ ชนิดสะส...
3                  กองทุนเปิดฟิลลิปเวิลด์อินโนเวชั่น
4   กองทุนเปิดทาลิส DIVIDEND STOCK เพื่อการเลี้ยงชีพ
5  กองทุนเปิดทาลิส MID-SMALL CAP หุ้นทุน ชนิดสะสม...
6                 กองทุนเปิดทีเอ็มบี Global Property

                      fund_name_en                     amc_category   amount  \
0               Greater China Fund             Greater China Equity   126.40
1               Greater China Fund             Greater China Equity  1243.27
2    Principal Vietnam Equity Fund                   Vietnam Equity     0.00
3    PHILLIP WORLD INNOVATION FUND                    Global Equity   858.70
4         TALIS DIVIDEND STOCK RMF                   Equity General   998.20
5  TALIS MID-SMALL CAP EQUITY FUND           Equity Small - Mid Cap     0.00
6         TMB Global Property Fund  Fund of Property Fund - Foreign   160.97

   unitbalance         created_at
0       9.6419  2/9/2023 16:16:17
1      94.8347  2/9/2023 16:16:17
2       0.0000  2/9/2023 16:15:37
3      52.0364  2/9/2023 16:19:23
4      94.8604  2/9/2023 16:19:37
5       0.0000  2/9/2023 16:19:37
6      17.4483  2/9/2023 16:17:56